

<!-- How to get js to grab the params that I passed in -->

    <h3>Airport Details - <%=@theAirport[:name]%>(<%=@theAirport[:icao]%>)</h3>
    <div id="map"></div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script> -->
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfxI8a5U-lL1vQiOWBIkowev5IM89MJf8&callback=initialize">
    </script>
    <script>
      var map;
      function initialize() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: new google.maps.LatLng(<%=@theAirport[:latitude]%>, <%=@theAirport[:longitude]%>),
          mapTypeId: 'satellite'
        });
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(<%=@theAirport[:latitude]%>, <%=@theAirport[:longitude]%>),
          icon: icons['airport'].icon,
          map: map
        });
      }
    //   function initMap() {
    //     // var mapDiv = document.getElementById('map');
    //
    //     map = new google.maps.Map(document.getElementById('map'), {
    //    zoom: 16,
    //    center: new google.maps.LatLng(<%=@theAirport[:latitude]%>, <%=@theAirport[:longitude]%>),
    //    mapTypeId: 'satellite'
    //     // var map = new google.maps.Map(mapDiv, {
    //     //     center: {lat: <%=@theAirport[:latitude]%>, lng:<%=@theAirport[:longitude]%>},
    //     //     zoom: 13
    //     //     // map type: 'satellite'
    //   //});
    // });}


    var iconBase = 'https://maps.google.com/mapfiles/kml/pal2/';
    var icons = {
      airport: {
        icon: iconBase + 'icon48.png'
      },
      library: {
        icon: iconBase + 'library_maps.png'
      },
      info: {
        icon: iconBase + 'info-i_maps.png'
      }
    };
    //
    // function addMarker(feature) {
    //   var marker = new google.maps.Marker({
    //     position: feature.position,
    //     icon: icons[feature.type].icon,
    //     map: map
    //   });
    // }
    //
    //
    //
      // var iconBase = '../public/icons/';
      // var icons = {
      //   airport: {
      //     icon: iconBase + 'airport.png'
      //   },
      //   aircraft: {
      //     icon: iconBase + '.png'
      //   },
      //   info: {
      //     icon: iconBase + 'info-i_maps.png'
      //   }
      // };
    //   //
      // function addMarker(feature) {
      //       var marker = new google.maps.Marker({
      //         position: feature.position,
      //         icon: icons[feature.type].icon,
      //         map: map
      //       });
          // }
    //   //     var features = [
    //   //       // {
    //   //       //    position: new google.maps.LatLng(-33.91721, 151.22630),
    //   //       //    type: 'airport'
    //   //       //  }
    //   //       {
    //   //         position: new google.maps.LatLng(<%=@theAirport[:latitude]%>, <%=@theAirport[:longitude]%>),
    //   //         type: 'airport'
    //   //       }
    //   //     ];
    //
          // for (var i = 0, feature; feature = features[i]; i++) {
          //   addMarker(feature);
          //   console.log(<%=@theAirport[:latitude]%>+"_"+<%=@theAirport[:longitude]%>);
          // }
      </script>

    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>

    <div class="spec_ap">
      <table>
      <tr>
        <th>Airport Name</th>
        <td><%=@theAirport[:name]%></td>
      </tr>
      <tr>
        <th>City</th>
        <td><%=@theAirport[:city]%></td>
      </tr>
      <tr>
        <th>Country</th>
        <td><%=@theAirport[:country]%></td>
      </tr>
      <tr>
        <th>ITTA</th>
        <td><%=@theAirport[:itta]%></td>
      </tr>
      <tr>
        <th>ICAO</th>
        <td><%=@theAirport[:icao]%></td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td><%=@theAirport[:latitude]%></td>
      </tr>
      <tr>
        <th>Longtitude</th>
        <td><%=@theAirport[:longitude]%></td>
      </tr>
      <tr>
        <th>Altitude</th>
        <td><%=@theAirport[:altitude]%> ft</td>
      </tr>
      <tr>
        <th>Hours(GMT+)</th>
        <td><%=@theAirport[:timezone]%></td>
      </tr>
      <tr>
        <th>Daylight Saving Area</th>
        <td><%=@theAirport[:dst]%></td>
      </tr>
      <tr>
        <th>Timezone</th>
        <td><%=@theAirport[:tz]%></td>
      </tr>
    </table>
   </div>
  <div class="enroute"><a href="/enroute/<%=@theAirport[:icao]%>">Show all flights on route to this airport</a><div>





<!-- https://www.google.com/maps/embed/v1/view
  ?key=AIzaSyCfxI8a5U-lL1vQiOWBIkowev5IM89MJf8
  &center=-33.8569,151.2152
  &zoom=18
  &maptype=satellite -->
